
@model Test.Models.Table_1
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>Type first paragraph here</p>

<body>
    <img src= "/Images101/image1.webp" width="500" height="400" />
    <form action="About" method="post">
        <p> Please enter your first and last name: </p>
        <input type="text" name="Name" placeholder="@Model.Name" required/>
        <input type="text" name="Surname" placeholder="@Model.Surname" required/>
        <input type="text" name="Email" placeholder="@Model.Email" required/>
        <button type="submit">Submit</button>
    </form>
</body>

